{% extends 'core/base.html' %}
{% load static %}

{% block title %}Donor Dashboard - DisasterBridge{% endblock %}

{% block content %}

<style>




</style>


  <div class="container">
    <h2>Donor Dashboard</h2>
    <p>Welcome {{ user.username }}! Thank you for supporting.</p>

    <div class="link-boxes">
      <div class="box">
        <a href="{% url 'make_donation' %}">Make a Donation</a>
      </div>
      <div class="box">
        <a href="{% url 'donation_history' %}">Donation History</a>
      </div>
    </div>
  </div>
{% endblock %}
