{% extends 'core/base.html' %}
{% load static %}

{% block title %}Donation - DisasterBridge{% endblock %}

{% block content %}

<style>




</style>
  <div class="container">
    <h2>Make a Donation</h2>
    <form method="post">
      {% csrf_token %}

      <div>
        <label>Donation Type</label>
        {{ form.donation_type }}
      </div>

      <div>
        <label>Enter Amount</label>
        {{ form.amount }}
      </div>

      <div>
        <label>Item Title</label>
        {{ form.items_title }}
      </div>

      <div>
        <label>Description</label>
        {{ form.items_description }}
      </div>

      <div>
        <label>Payment Method</label>
        {{ form.payment_method }}
      </div>

      <div>
        <label>Receipt Number</label>
        {{ form.receipt_number }}
      </div>

      <div>
        <label>Pickup Date</label>
        {{ form.pickup_date }}
      </div>

      <div>
        <label>Pickup Time</label>
        {{ form.pickup_time }}
      </div>

      <div>
        <label>Pickup Address</label>
        {{ form.pickup_address }}
      </div>

      <button type="submit">Submit Donation</button>
    </form>
  </div>

{% endblock %}