<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Make a Donation</title>
</head>
<body>
  <h2>Make a Donation</h2>
  <form method="post">
    {% csrf_token %}

    <div>
      <label>Donation Type</label><br>
      {{ form.donation_type }}
    </div>

    <div>
      <label>Enter Amount</label><br>
      {{ form.amount }}
    </div>

    <div>
      <label>Item Title</label><br>
      {{ form.items_title }}
    </div>

    <div>
      <label>Description</label><br>
      {{ form.items_description }}
    </div>

    <div>
      <label>Payment Method</label><br>
      {{ form.payment_method }}
    </div>

    <div>
      <label>Receipt Number</label><br>
      {{ form.receipt_number }}
    </div>

    <div>
      <label>Pickup Date</label><br>
      {{ form.pickup_date }}
    </div>

    <div>
      <label>Pickup Time</label><br>
      {{ form.pickup_time }}
    </div>

    <div>
      <label>Pickup Address</label><br>
      {{ form.pickup_address }}
    </div>

    <div>
      <button type="submit">Submit Donation</button>
    </div>
  </form>
</body>
</html>
