{% extends 'core/base.html' %}
{% load static %}

{% block title %}User details - DisasterBridge{% endblock %}

{% block content %}
<style>




</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>
    <h1>User Detail: {{ user.name }}</h1>
    <p><strong>ID:</strong> {{ user.user_id }}</p>
    <p><strong>Username:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
     <p><strong>Role:</strong> {{ user.role }}</p>
    <p><a href="{% url 'user_list' %}">Back to User List</a></p>
</body>
</html>

{% endblock %}